DJANGO_SECRET_KEY=change-this-development-secret
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,10.0.2.2

MYSQL_DATABASE=posapp
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:8081,http://127.0.0.1:8081
CORS_ALLOW_ALL_ORIGINS=False

SUBSCRIPTION_OWNER_USERNAME=owner
SUBSCRIPTION_OWNER_PASSWORD=Owner@12345


RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_CURRENCY=INR

FIREBASE_SERVICE_ACCOUNT_PATH=firebase-service-account.json
FIREBASE_PROJECT_ID=nuva-bill
FIREBASE_CLIENT_PROJECT_ID=nuva-bill


